# History files
.Rhistory

# Example code in package build process
*-Ex.R
# R data files from past sessions
.Rdata
# RStudio files
.Rproj.user/
.Rproj.user
powstreams.Rproj
.Rbuildignore
R/.DS_Store
.DS_Store
packrat/lib*/
